<!DOCTYPE html>
<html>
    <head>
        <!--specifies title of the page !-->
        <title>Home</title>
    <head>
    <body>
    <p>Assignment 1: An Introduction to the Logic and Language of Python</p>
    <p>How do arguments operate in python? How do we write algorithms?
    How do we operate python lists?</p>
    <p></p>
    <p>Assignment 2: Big O Notation and Simulations</p>
    <p>How do we compare algorithms by their number of steps? What are the different sort and
    search functions? How do we code for more accurate simulations?</p>
    <p></p>
    <p>Assignment 3: Set Style Operations, Recursive Functions, and Percolation Theory</p>
    <p>How can we manipulate sets? How do we write recursive functions? How do we model
    water flowing into a porous material (application in using recursive functions)?</p>
    <p></p>
    <p>Midterm: Image Editor</p>
    <p>Can we write code without skeleton code? How do we manipulate images via flipping,
    greyscaling, and filtering in python?</p> 
    <p></p>
    <p>Assignment 4: Object Oriented Programming</p>
    <p>What are the tenets of OOP? How do we model a class with students, teachers, and
    assignments?</p>
    <p></p>
    <p>Assignment 5: Machine Learning</p>
    <p>How do we implement pandas, seaborn, and sci-kit learn to provide advanced statistical
    analysis on a dataset? Can we accurately train the algorithm to predict results?</p>
    <p><p/>
    </body>
</html>
