<!DOCTYPE html>
<html>
    <head>
        <!--specifies title of the page !-->
        <title>Home</title>
    <head>
    <body>
    <table style="width:100%">
      <tr>
        <th>CHEM 2046</th>
        <th>APMA E2000</th>
        <th>ENGI E1006</th>
        <th>PHYS 1402</th>
        <th>ENGL CC1010</th>
      </tr>
    </table>
    <p> CHEM 2045/2046 has been my favorite class because the lectures were highly interesting,
    the professors were great, and the class as a whole was really tightly knit.
    The class as a whole was challenging but not punishing and learning the chemistry
    behind shows like Breaking Bad was always fun.</p>
    <body>
</html>
